{% extends '::theme.html.twig' %}

{% block title %}
    Edit Assignment-AGEPE
{% endblock title %}

{% block title_head_bar %}
    EDIT ASSIGNMENT
{% endblock title_head_bar %}

{% block container_fluid %}

<div class="row page-header">
    <h1 class="col-lg-8">
        <a class="btn btn-primary btn-lg" href={{ path('assignment') }}>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                </span>
        </a>
        <a class="btn btn-default btn-lg" href="#">
            Edit
        </a>
    </h1>
</div>

    <div class="table-responsive col-lg-8">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th class="col-lg-2">From Date</th>
                    <td class="col-lg-2">
                        <input type="date" name="fromDate" class="form-control btn-md center-block"
                               value="{{ entity.fromDate|date('Y-m-d') }}">
                    </td>
                </tr>

                <tr>
                    <th class="col-lg-2">To Date</th>
                    <td class="col-lg-2">
                        {% if entity.toDate == true %}
                            <input type="date" name="toDate" class="form-control btn-md center-block"
                               value="{{ entity.toDate|date('Y-m-d') }}">
                        {% else %}
                            <input type="date" name="toDate" class="form-control btn-md center-block">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="col-lg-2">Shift Name</th>
                    <td class="col-lg-4">

                        <select>
                            <option>
                                {{ entity.timeShift.shiftName }}
                            </option>
                            {%  for shift in shifts %}
                                <option>
                                    {{ shift.shiftName }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-info" >
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                            </span>
                            Add Shift

                        </button>
                    </td>
                </tr>

                <tr>
                    <th class="col-lg-2">Slots </th>
                    <td class="col-lg-2">
                        <select>
                            {%  for slot in slots %}
                                <option>
                                    {{ slot.slotFrom|date('G:i')~' -> '~ slot.slotTo|date('G:i')}}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row"></div>
{% endblock container_fluid %}

