{% extends '::Theme.html.twig' %}

{% block title %}
    Add Holiday-AGEPE
{% endblock title %}

{% block title_head_bar %}
    ADD HOLIDAY
{% endblock title_head_bar %}
{% block container_fluid %}


    <div class="row page-header">

        <h1 class="col-lg-1">
            <a class="btn btn-primary btn-lg" href="{{ path('holiday') }}">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                    </span>
            </a>
        </h1>
        <h1 class="col-lg-6"> ADD HOLIDAY ..</h1>
        <h1 class="col-lg-4">

        </h1>

    </div>

    <div class="well row form-group ">

        <div class="col-lg-7">

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="form-group">

                {{ form_label(form.title, "Title :", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                <div class="col-lg-5">
                    {# Génération de l'input. #}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">

                {{ form_label(form.holidayDate, "Date :", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                <div class="col-lg-5">
                    {# Génération de l'input. #}
                    {{ form_widget(form.holidayDate, {'attr': {'class': 'form-control btn-md center-block'}}) }}
                </div>
            </div>

            <div class="form-group">

                <div class="col-lg-5"></div>
                <div class="relative col-lg-2">
                    {# Génération de l'input. #}
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success form-control'}})}}
                </div>
            </div>

            {{ form_end(form) }}
        </div>


        <div class="table-responsive col-lg-5">
            <h1 class="page-header">
                Holiday
            </h1>
            <table class="table table-bordered table-hover table-striped" id="mydata">
                <thead>
                <tr class="bg-primary text-white">
                    <th class="col-lg-2">Title</th>
                    <th class="col-lg-2">Date</th>
                    <th class="col-lg-2">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {{ entity.title}}
                        </td>

                        <td>
                            {{ entity.holidayDate|date('Y-m-d')}}
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a class="btn btn-xs btn-link" href="{{ path('holiday_edit', { 'id': entity.id }) }}">
                                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                        edit
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock container_fluid %}

{% block script %}
    <script>
        $('#mydata').dataTable();
    </script>
{% endblock script %}